@tailwind base;
@tailwind components;
@tailwind utilities;

.ocean-video-container {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  overflow: hidden; z-index: 0;
}

.ocean-video {
  min-width: 100%; min-height: 100%;
  object-fit: cover; opacity: 0.5;
}

input[type='range']::-webkit-slider-thumb {
  width: 25px; height: 25px;
  background: #9333ea;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}