.video-editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 40px;
  font-family: "Poppins", sans-serif;
}

.editor-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #a06bff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.video-preview {
  width: 80%;
  max-width: 900px;
  border: 3px solid #a06bff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}

.editor-video {
  width: 100%;
  height: auto;
  display: block;
}

.editor-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.control-btn {
  background-color: #a06bff;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.control-btn:hover {
  background-color: #b98aff;
}

.slider-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
}

.editor-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.tool-btn {
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #a06bff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}
.tool-btn:hover {
  background-color: #a06bff;
  color: black;
}
